{{!-- <h1 class="text-center">WearCoder</h1> --}}
<img src="/public/assets/logo.png" alt="Logo" class="d-block img-fluid mx-auto" style="width: 20%; height: auto;">
<div class="d-flex justify-content-center gap-3 ">

  <label for="filterByCategory" class=" text-black ">Filter by category: </label>
  <select id="filterByCategory" name="category" class="w-50 form-select form-select mb-3">
            <option value="">All</option>
            <option value="pants">pants</option>
            <option value="shoes">shoes</option>
            <option value="sweaters">sweaters</option>
            <option value="accessories">accessories</option>
            <option value="jackets">jackets</option>
            <option value="dresses">dresses</option>
            <option value="tops">tops</option>
            <option value="skirts">skirts</option>
            <option value="t-shirts">t-shirts</option>
            <option value="other">other</option>
          </select>
</div>

<section class="container text-center">
  <div class="row" id="grid-container">
    {{#each data}}
    <div class="col-md-4 mb-4">
      <div class="card mx-auto" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="product" href="/products/{{this.id}}">{{this.title}}</a>
          </li>
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="/public/js/allProductsSocket.js"></script>