<h1 class="text-center mb-5">Login</h1>

<section class="d-block w-75 mx-auto p-4 rounded shadow-lg" style="background-color:#ffffff">

<form id="login-form">
<div class="mb-2">
  <label for="email" class="form-label">Email address</label>
  <input  type="email" class="form-control" id="email" placeholder="admin@wearcoder.com" name="email" required>
</div>
 <div class="mb-2">
  <label for="password" class="form-label">Password</label>
  <input  type="password" class="form-control" id="password" placeholder="Enter your password" name="password" required>
 </div>

  <button class="btn btn-primary" type="submit"  id="loginBtn"> Login </button>
  </form>
</section>
<script type="module" src="/public/js/loginHandler.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
