    <h1 class="text-center mb-5">Register</h1>
<section class="d-block w-75 mx-auto p-4 rounded shadow-lg" style="background-color:#ffffff">
<form method="POST" >
<div class="mb-2">
<label for="name" class="form-label">Name</label>
<input type="text" class="form-control" id="name" placeholder="User name">
</div>
<div class="mb-2">
<label for="email" class="form-label">Email address</label>
<input type="email" class="form-control" id="email" placeholder="admin@admin.com">
</div>
<div class="mb-2">
<label for="password" class="form-label">Password</label>
<input type="password" class="form-control" id="password" placeholder="Password">
</div>
    <input class="btn btn-primary" type="submit" value="Register" id="registerBtn">
</form>

</section>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="/public/js/socket.js"></script>

