    <h1 class="text-center">Update Product</h1>
<section class="d-flex" >
<form class="d-flex flex-column w-50 gap-2 m-2 justify-content-center align-items-center"method="PUT">
    <input class="w-50" type="text" name="title" id="new-product-title" placeholder="Title" required value={{data.title}}>
    <input class="w-50" type="number" name="price" id="new-product-price" placeholder="Price" required min="1" value={{data.price}}>
    <input class="w-50" type="number" name="stock" id="new-product-stock" placeholder="stock" required min="1" value={{data.stock}}>
    <input class="w-50" type="text" name="category" id="new-product-category" placeholder="Category" required value={{data.category}}>
    <input class="btn btn-warning" type="submit" value="Register" id="updateProductBtn">
</form>

</section>