<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/assets/shirt-logo.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>WearCoder</title>
</head>
<body>
  
  <header>
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/public/assets/shirt-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      WearCoder
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a id="managerLink"class="nav-link protectedLink" href="/products">Manager</a>
        <a class="nav-link" href="/users/register">Register</a>
        <a id="profileLink" class="nav-link" href="/users/:uid">My Profile</a>
        <a class="nav-link" href="/users/login">Login</a>
        <a id="cartsLink" class="nav-link" href="/carts/:uid">Cart</a>
      </div>
    </div>
        <button onclick="handleClick()" class="nav-link" href="/users/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
</svg></button>
  </div>
</nav>
  </header>
    
    <main class="pb-4 mt-2">{{{body}}} </main>
    <footer class="bg-body-tertiary text-center mt-5">
  <div class="text-center p-3 fixed-bottom w-100 bg-body-tertiary" >
   Made by 
    <a class="text-body" href="https://www.linkedin.com/in/federico-palorma-dev/">Federico Palorma</a>
  </div>
  
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/public/js/logoutFunction.js"></script>
    <script src="/public/js/authNavbar.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>